* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    border: solid;
    border-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc {
    display: flex;
    flex-direction: column;
    height: 380px;
    width: 300px;
    padding: 15px;
    gap: 10px;
    background-color: rgb(63, 98, 219);
    
}

.display {
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 3.3em;
    height: 20%;
    padding: 10px;
    border: solid;
    background-color: rgb(211, 225, 226);
    border-color: rgb(121, 121, 130);
    border-width: 5px;
}

.display, .calc {
    border-radius: 20px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    height: 80%;
}

button {
    background-color: rgb(227, 227, 227);
    color: rgb(30, 43, 178);
    border-radius: 60px;
    font-size: 1.4em;
    font-weight: bolder;
    border-style: none;
}

button:hover {
    filter: brightness(90%);
}

button:active, .operator:focus {
    filter: brightness(50%);
}

.red {
    background-color: rgb(236, 81, 91);
}